<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-white text-lg font-bold">Yoooo</a>
    <div class="hidden md:flex space-x-6">
      <a routerLink="/" class="text-gray-300 hover:text-white">Home</a>
      <a routerLink="/user-details" class="text-gray-300 hover:text-white">User Details</a>
      <a routerLink="/auth/signin" *ngIf="!authenticated" class="text-gray-300 hover:text-white">Sign In</a>
      <a routerLink="/auth/signup" *ngIf="!authenticated" class="text-gray-300 hover:text-white">Sign Up</a>
      <a routerLink="/auth/logout" *ngIf="authenticated" (click)="logout()" class="text-gray-300 hover:text-white">Logout</a>
    </div>
  </div>
</nav>
